In [2]:
def mysum(numbers):
    total = 0
    for one_number in numbers:
        total+= one_number
    return total

mysum([10,20,30,40,50]) #why should I pass a list here 
                        #why cann't I type the numbers individually

150

In [6]:
mysum(10,20,30,40,50)

TypeError: mysum() takes 1 positional argument but 5 were given

In [6]:
# I want to take as many as arguments without taking the items within a list
# to show it is just a one argument
def mysum(*numbers):# (*__) splat args
    total=0
    print(f'numbers {numbers}')
    for one_number in numbers:
        total+=one_number
    return total

In [10]:
mysum(10,20,30,40,50,60)

numbers (10, 20, 30, 40, 50, 60)

210

In [11]:
mysum()

numbers ()

0

In [13]:
def foo(a,b, *args): #after declaring parameters for positional arguments 
                     # it will take rest of the parameters into splat-args
    return f'a={a},b={b},*args'
foo(10,20,30,40,50)

'a=10,b=20,*args'

In [14]:
def foo(a,b,*args,c,d):
    return f'a={a},b={b},*args,c={c},d={d}'
foo(10,20,30,40,50)

TypeError: foo() missing 2 required keyword-only arguments: 'c' and 'd'

In [15]:
foo(10,30,30,c=40,50)

SyntaxError: positional argument follows keyword argument (85307715.py, line 1)

In [19]:
def foo(a,b,*args):  #this works only with positional arguments
    return f'a={a},b={b},*args={args}'
foo(10,20,30,40,50,60)

'a=10,b=20,*args=(30, 40, 50, 60)'

In [26]:
def foo(a,b,*args,c,d):
    return f'a={a},b={b},*args={args},c={c},d={d}'
foo(10,20,30,c=40,d=50)

'a=10,b=20,*args=(30,),c=40,d=50'

# *args (splat-args) is a tuple.

In [7]:
mysum(10,20,30,40,50,60)

numbers (10, 20, 30, 40, 50, 60)

210

In [8]:
mysum([10,20,30,40,50])

numbers ([10, 20, 30, 40, 50],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

# since splat args is a tuple and it is looking for iterables, two lists can't be added

In [12]:
def mylist(*args):
    print(type(args))

In [13]:
mylist(10,20,'shoes',{'list':[203,405]})

<class 'tuple'>

# with the above output we can hence come to a conclusion splat args indeed is a tuple

In [16]:
def stringconcat(*args):
    sum=' '
    for i in args:
        sum+=i
    return sum
stringconcat(['hello ','my ','name ', 'is ', 'SlimShady']) 
# sometimes you would have a sequence and you would want to use it on a function
# like the above without making any modifications to the original sequence
# you can use '*' to help you with that

TypeError: can only concatenate str (not "list") to str

In [17]:
def stringconcat(*args):
    sum=' '
    for i in args:
        sum+=i
    return sum
stringconcat(*['hello ','my ','name ', 'is ', 'SlimShady'])

' hello my name is SlimShady'

# '\*' used in this stringconcat(*['hello ','my ','name ', 'is ', 'SlimShady']) unpacks each element from the sequence without making any modifications to the sequence. Here is a better example.

In [22]:
def stringconcat(*args):
    sum=' '
    for i in args:
        sum+=i
    return sum
listofstring=['hello ','my ','name ', 'is ', 'SlimShady']
print(stringconcat(*listofstring))
print(listofstring)
# no changes has been made to the original sequence

 hello my name is SlimShady
['hello ', 'my ', 'name ', 'is ', 'SlimShady']

# if you want to use an argument with a default value and also want to use splat args in function; then put the argument with the default value after the splat args

In [4]:
def printmylist(a,*args,b=10):
    return f'a={a},args={args},b={b}'
printmylist(10,20,30,b=-3)

'a=10,args=(20, 30),b=-3'

In [5]:
def printmylist(a,*args,b=10):
    return f'a={a},b={b},args={args}'
printmylist(10,20,30,b=-3)

'a=10,b=-3,args=(20, 30)'

# Exercise 
(1) Define a "calcmany" function that takes a string (one of +, -, *,
    and /) and any number of numbers.  The string will indicate what
    mathematical operation we'll invoke on each of the numbers,
    starting with the first pair of numbers, and going through the
    rest.

    Thus, calcmany("+", 100, 10, 2) will return 112, while
    calcmany("/", 100, 10, 2, 5) will return 1 -- because 100/10 is 10,
    10/2 is 5, and 5/1 is 1.

In [13]:
def calcmany(a, *args):
    result = args[0]

    if a == '+':
        for i in args[1:]:
            result += i
        print(result)

    elif a == '-':
        for i in args[1:]:
            result -= i
        print(result)

    elif a == '*':
        for i in args[1:]:
            result *= i
        print(result)

    elif a == '/':
        for i in args[1:]:
            result /= i
        print(result)

    else:
        print("Error")

calcmany("*", 20, 30, 40)

24000

(2) Define a function that takes one mandatory argument (the name of
    an output file), any number of additional arguments (names of
    input files), and an optional argument ("separator") that defaults
    to an empty string.  The function, when called, should read
    through each of the lines in the input files and write them in the
    named output file. Between the contents of each file, the
    separator should be written.