In [2]:
#set guarantees uniqueness
s=set() #this is how you create a set
s.add(10)
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [3]:
s

{10, 20, 30}

In [6]:
s.add(40)
s.add(40)
s.add(40)

In [7]:
s #despite adding 40 multiple times it will be added to the set only once

{10, 20, 30, 40}

In [8]:
print(s) #the order has to do with hashing

{40, 10, 20, 30}

In [9]:
s={}
type(s)

dict

In [10]:
#to create an empty set you must 
s=set()
type(s)

set

In [11]:
#set guarantees that all elements in the set exists once and once only
s=set([10,20,30,20,30,10,40,30,40])
s

{10, 20, 30, 40}

In [13]:
s={10,20,30,40,30,40,50}
s

{10, 20, 30, 40, 50}

In [14]:
# set is sort of like a list but you cann't depend on the order and it elements is exists only once and also it is sort of 
# like a dictionary but only the keys hence only immutable data can be added. Unhashable types cann't be added to a set

s=set('abc') #it iterates through the string and adds it
s

{'a', 'b', 'c'}

In [15]:
s={'abc'}#it adds it as it is to the set

In [16]:
s

{'abc'}

In [17]:
s=set([10,20,30]) #it iterates through the list and adds it to the set
s

{10, 20, 30}

In [18]:
s={[10,20,30]} #unhashable data type cann't be added to a set
s

TypeError: unhashable type: 'list'

In [25]:
#list is an ordered mutable collection. We can also retrieve things by index
mylist=[10,20,30,40,50]
mylist

[10, 20, 30, 40, 50]

In [26]:
mylist[2]

30

In [22]:
s={10,20,30,40,50}
s

{10, 20, 30, 40, 50}

In [23]:
len(s)==len(mylist)

True

In [27]:
s[2] #cann't retrieve element from a set using index

TypeError: 'set' object is not subscriptable

In [28]:
20 in s # O(1)-- since it is based in a dictionary search time is O(n)

True

In [29]:
20 in mylist # O(n) -- since it is a list search time is O(n)

True

In [30]:
for one_item in mylist:
    print(one_item)

10
20
30
40
50

In [31]:
for one_item in s:
    print(one_item)

40
10
50
20
30

In [32]:
sum(mylist)

150

In [33]:
sum(s)

150

In [35]:
s.add(50)
s

{10, 20, 30, 40, 50}

In [37]:
s.add(50.0)
s

{10, 20, 30, 40, 50}

In [38]:
hash(50)==hash(50.0)

True

In [1]:
s={10,20,30,30,50}
s.add([11,22,33,44]) #add doesn't work with lists or any unhashable types
s

TypeError: unhashable type: 'list'

In [3]:
s.add('abc')
s

{10, 20, 30, 50, 'abc'}

In [4]:
s.update([10,20,30,11,22,33]) #update works with lists because update doesn't look at the list as a list but as an iterable
s                             #object.

{10, 11, 20, 22, 30, 33, 50, 'abc'}

In [6]:
s.update(['abc'])
s

{10, 11, 20, 22, 30, 33, 50, 'abc'}

In [8]:
s.update('abc') #returns none
s

{10, 11, 20, 22, 30, 33, 50, 'a', 'abc', 'b', 'c'}

In [9]:
print(s.remove(30))

None

In [10]:
print(s)

{33, 10, 11, 'abc', 50, 20, 'c', 22, 'a', 'b'}

In [1]:
items={'soap','milk','water bottle','sandwich'}
total=0
bill_items=set()
while True:
    s=input('enter what you want to buy: ').strip()
    if not s:
        break
    if s in items:
        total+=1
        bill_items.add(s)
    else:
        print('tell something that is in the list fool')
print(f'total amount is {total}, items purchased are {bill_items}')

enter what you want to buy: gulab jamun
tell something that is in the list fool
enter what you want to buy: something
tell something that is in the list fool
enter what you want to buy: soap
enter what you want to buy: milk
enter what you want to buy: water bottle
enter what you want to buy: sandwich
enter what you want to buy:
total amount is 4, items purchased are {'soap', 'sandwich', 'water bottle', 'milk'}

In [2]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1-s2) #show me what is in s1 but *NOT* in s2
print(s2-s1) #show me what is in s2 but *NOT* in s1

{10, 20}
{50, 60}

In [3]:
s1-s1

set()

In [5]:
s1.symmetric_difference(s2) #shows the elements in s2 and s1 that are not common

{10, 20, 50, 60}

In [6]:
#symmetric difference is basically xor ...
# xor -> bitwise operator '^'
s1 ^ s2

{10, 20, 50, 60}

In [7]:
s3={20,30}
s3<s1 #is s3 a subset of s1

True

In [8]:
s2<s1

False

In [9]:
s1<s1 # is s1 less than s1 (a strict subset)

False

In [10]:
s1<=s1 # is s1 less than or equal to s1 ( a more lenient subset)

True

In [11]:
s1|s2 # union -- gives a union of sets

{10, 20, 30, 40, 50, 60}

In [12]:
s1 & s2 # intersection -- intersects the two sets

{30, 40}

In [14]:
s1|=s2 #s1=s1|s2
s1

{10, 20, 30, 40, 50, 60}

In [20]:
s=set('freedom')
while True:
    word=set(input('enter word').strip())
    if not word:
        break
    if word<s:
        print('yay')
    else:
        print('boo')

enter wordraghav
boo
enter wordname
boo
enter wordfree
yay
enter worddom
yay
enter wordedo
yay
enter word